/* line 1, ../scss/test.scss */
.primary-nav {
  position: relative;
  margin-top: 70px;
}
/* line 5, ../scss/test.scss */
.primary-nav li {
  float: left;
  list-style: none;
}
/* line 10, ../scss/test.scss */
.primary-nav .megalist {
  display: none;
}

/* line 15, ../scss/test.scss */
#site-header {
  margin-top: -100px;
  margin-bottom: 70px;
}
