// CSS Animations 

.playful {
  @include animate(PLAY, .5s);
}

.upDown {
	@include animate(UPDOWN, .5s);
  position: relative;
}

.warn {
  @include animate(WARN, .5s);
}

.pulse {
  @include animate(PULSE, .5s);
}

.popup {
  @include animate(POPUP, .2s, 1);
}

.marquee {
  @include animate(MARQUEE, 60s);
  -webkit-animation-timing-function: linear;
}


// MARQUEE

@-webkit-keyframes MARQUEE {
  100% {background-position: -1000px 0;}
}


// POPUP

@-webkit-keyframes POPUP {
  0% {-webkit-transform: scale(0);}
  100% {-webkit-transform: scale(1);}
}

@-moz-keyframes POPUP {
  0% {-moz-transform: scale(0);}
  100% {-moz-transform: scale(1);}
}

@-o-keyframes POPUP {
  0% {-o-transform: scale(0);}
  100% {-o-transform: scale(1);}
}

@keyframes POPUP {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}


// PLAY

@-webkit-keyframes PLAY {
  0%, 50%, 100% {-webkit-transform: rotate(0);}
  25% {-webkit-transform: rotate(-20deg);}
  75% {-webkit-transform: rotate(20deg);}
}

@-moz-keyframes PLAY {
  0%, 50%, 100% {-moz-transform: rotate(0);}
  25% {-moz-transform: rotate(-20deg);}
  75% {-moz-transform: rotate(20deg);}
}

@-o-keyframes PLAY {
  0%, 50%, 100% {-o-transform: rotate(0);}
  25% {-o-transform: rotate(-20deg);}
  75% {-o-transform: rotate(20deg);}
}

@keyframes PLAY {
  0%, 50%, 100% {transform: rotate(0);}
  25% {transform: rotate(-20deg);}
  75% {transform: rotate(20deg);}
}


// WARN

@-webkit-keyframes WARN {
  0%, 100% {opacity: 1;}
  50%{opacity: .25;}
}

@-moz-keyframes WARN {
  0%, 100% {opacity: 1;}
  50%{opacity: .25;}
}

@-o-keyframes WARN {
  0%, 100% {opacity: 1;}
  50%{opacity: .25;}
}

@keyframes WARN {
  0%, 100% {opacity: 1;}
  50%{opacity: .25;}
}


// PULSE

@-webkit-keyframes PULSE {
  0%, 100% {-webkit-transform: scale(1)}
  50% {-webkit-transform: scale(.8)}
}

@-moz-keyframes PULSE {
  0%, 100% {-moz-transform: scale(1)}
  50% {-moz-transform: scale(.8)}
}

@-o-keyframes PULSE {
  0%, 100% {-o-transform: scale(1)}
  50% {-o-transform: scale(.8)}
}

@keyframes PULSE {
  0%, 100% {transform: scale(1)}
  50% {transform: scale(.8)}
}


// UPDOWN

@-webkit-keyframes UPDOWN {
  0%, 50%, 100% {top: 0;}
  25% {top: -3px;}
  75% {top: 3px;}
}

@-moz-keyframes UPDOWN {
  0%, 50%, 100% {top: 0;}
  25% {top: -3px;}
  75% {top: 3px;}
}

@-o-keyframes UPDOWN {
  0%, 50%, 100% {top: 0;}
  25% {top: -3px;}
  75% {top: 3px;}
}

@keyframes UPDOWN {
  0%, 50%, 100% {top: 0;}
  25% {top: -3px;}
  75% {top: 3px;}
}