/* Default HTML overrides go in this document */


// DOCUMENT
// --------

body {
	-webkit-font-smoothing: antialiased;
}




// FORMS
// -----




// TEXT
// ----

a {
	transition: color .1s linear;
	text-decoration: underline;
	
	&:hover {
		text-decoration: none;
	}
}

.right-sidebar {
	p, ul, ol {
		font-size: 1rem; // Main is 1rem
		line-height: 1.4; // Main is 1.6
		margin-bottom: 1rem; // Main is 1.25rem
		color: #444;
	}

	h1,h2,h3,h4,h5,h6 {
		margin-top: 0;
		margin-bottom: 0.25rem; // Main is .5rem
		color: #333;
	}
}





// IMAGES
// ------

img.left {
	width: 40%;
	margin: 6px 16px 6px 0;
}

img.right {
	width: 40%;
	margin: 6px 0 6px 16px;
}

img.full {
	margin: 0 0 16px 0;
}




// TABLES
// ------

table {
  width: 100%;
  background: transparent;
  border-collapse: collapse;
  border: none;

  thead {
		background: transparent;

		// Specific to override Foundation
		tr {
			th {
				
			}
		}
	}

	tr:nth-of-type(even) {
		
	}

	tr:nth-of-type(odd) {
		
	}

	// Specific to override Foundation
	tr {
		td {
			overflow: hidden;
		}
	}
}