/* Design styles go here – This is where most CSS will live */


// GLOBAL
// ------


// Foundation Overrides




// HEADER
// ------

.logo-container img {
	width: 221px;
	max-width: 221px;
}





// NAVIGATION
// ----------

.primary-nav {
	a {
		font-family: $proxima;
		background: #555;
		color: #fff;
		padding: 12px 30px;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background: #666;
			color: #fff;
		}
	}
}




// MAIN BODY
// ---------




// LEFT SIDEBAR
// ------------




// RIGHT SIDEBAR
// -------------

.cta {
	h1,h2,h3,h4,h5,h6,p,ul,ol {
		color: #f1f1f1;
	}
}

.block {
	padding: 1rem;
	background: #f3f3f3;
	@include border-radius(2px);
	@include box-shadow(inset 0 0 16px rgba(0,0,0,.05));
}

.block.cta {
	background: #555;
	color: #fff;
}



// FOOTER
// ------