/* High-Level, Structural CSS will go here */


// GLOBAL
// ------




// HEADER
// ------




// NAVIGATION
// ----------




// MAIN BODY
// ---------




// LEFT SIDEBAR
// ------------





// RIGHT SIDEBAR
// ------------

.right-sidebar .block {
	margin-bottom: 20px;
	float: left;

	a {

	}
}





// FOOTER
// ------