/* Reusable components, mixins, and classes go here */




// MIXINS
// ------


// ANIMATION

@mixin animate($name, $time: 1s, $repeat: infinite) {
  -webkit-animation: $name $time $repeat;
  -moz-animation: $name $time $repeat;
  -o-animation: $name $time $repeat;
  animation: $name $time $repeat;
}


// GRADIENTS

// Gradient from top (default white) to bottom (default black) 
@mixin gradient-tb($top: #fff, $bottom: #000) {  
  @include background-image(linear-gradient(top, $top, $bottom));
}

// Gradient from left (default white) to right (default black)
@mixin gradient-lr($left: #fff, $right: #000) {  
  @include background-image(linear-gradient(left, $left, $right));
}


// BREAKPOINTS

@mixin breakpoint($point) {
  @if $point == ocean {
    @media (max-width: 960px) { @content; }
  }
  @else if $point == lake {
    @media (max-width: 720px) { @content; }
  }
  @else if $point == pond {
    @media (max-width: 650px)  { @content; }
  }
}




// BUTTONS
// -------

button {
  @include gradient-tb(#72b830, #1d8e01);
  @include border-radius(6px);
  @include text-shadow(0 -1px 0px rgba(0,0,0,.5));
  @include box-shadow(0 2px 0px #317214);
  @include transition(all .1s ease-in-out);
  padding: 9px 32px;
  font-size: 14px;
  line-height: 14px;
  margin: 0;

  // Override Foundation
  font-weight: bold !important;
  text-transform: uppercase !important;
  
  &:hover {
    color: #caf290;
    @include gradient-tb(#47a318, #47a318);
  }

  &:active {
    @include box-shadow(inset 0 2px 9px rgba(0,0,0,.5));
    @include gradient-tb(#259205, #259205);
  }
}

.btn, .button {
  @extend button;
}

.button.small {
  padding: 5px 10px;
}

.button.secondary {
  @include gradient-tb(#ccc, #999);
  @include text-shadow(none);
  @include box-shadow(none);

  &:hover {
    @include gradient-tb(#ccc, #ccc);
  }

  &:active {
    @include box-shadow(inset 0 2px 9px #999);
  }
}





// CLASSES
// -------

.clearR {
  clear: right;
}

.clearL {
  clear: left;
}

.clearB {
  clear: both;
}

.highlight {
}

.okay {
  background: #f0efc0;
}

.warning {
  background: #f0c0c0;

  &:hover .fa-warning {
    @extend .warn;
  }
}

.good {
  background: #cbf0c0;
}

.text-normal {
  font-weight: $regular !important;
}

.text-bold {
  font-weight: $bold !important;
}

.no-bMargin {
  margin-bottom: 0 !important;
}




// ICONS
// -----

.ico:before {
  font-family: "FontAwesome";
  padding-right: 5px;
}

.ico.config:before {
  content: "\f0ad";
}

.ico.account:before {
  content: "\f007";
}

.ico.logout:before {
  content: "\f08b";
}

.ico.secure:before {
  content: "\f023";
}

.fa-check-circle-o {
  color: #b4a500;
}

.fa-thumbs-o-up {
  color: #208f00;
}

.fa-warning {
  color: #8f0000;
}