h1,h2,h3,h4,h5,h6 {
	font-family: $proxima-condensed;
}

h1 {
		font-size: 2.25rem;
	}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.4375rem;
	font-weight: $bold;
}

h5 {
	font-size: 1.125rem;
	text-transform: uppercase;
	font-weight: $bold;
}

h6 {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: $bold;
}

p {
	font-size: 1.1rem;
}

.right-sidebar {
	p, ul, ol {
		font-size: 1rem; // Main is 1rem
		line-height: 1.4; // Main is 1.6
		margin-bottom: 1rem; // Main is 1.25rem
	}

	h1,h2,h3,h4,h5,h6 {
		margin-top: 0;
		margin-bottom: 0.25rem; // Main is .5rem
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.65rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.3rem;
	}

	h5 {
		font-size: 1.125rem;
	}

	h6 {
		font-size: 1rem;
	}
}