/* Variables go here */


// COLORS
// ------

$red: #b5121b;
$ltGray: #f3f3f3;
$dkGray: #555;
$yellow: #ffda17;



// BREAKPOINTS
// -----------




// FONTS
// -----

$proxima: "proxima-nova", "lato", "helvetica-neue", helvetica, arial, sans-serif;
$proxima-condensed: "proxima-nova-alt-condensed", "proxima-nova", "lato", "helvetica-neue", helvetica, arial, sans-serif;
$meta: "ff-meta-serif-web-pro", "georgia pro", georgia, serif;



// FONT WEIGHTS
// ------------

$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;